{%- liquid
  assign bk_title = block.settings.title | default: block.settings.page.title
  assign open = block.settings.open
  if bk_title == blank or block.settings.content == blank and block.settings.page.content == blank
    continue
  endif
-%}
<hdt-accordion class="hdt-contents">
<details class="hdt-product-accordion__item" {% if open %}open {% endif %} {{ block.shopify_attributes }}>
  <summary aria-expanded="{{ open }}">
    <span class="hdt-product-accordion__text hdt-s-text hdt-font-semibold">{{ block.settings.title }}</span>
    <span class="hdt-product-accordion__icon"></span>
  </summary>
  <div class="hdt-product-accordion__content">
    <div class="hdt-rte" style="margin-bottom: 2rem">{{ block.settings.content }}</div>
    {{ block.settings.page.content }}
  </div>
</details>
</hdt-accordion>

{% schema %}
  {
    "name": "t:sections.main-product-tabs.blocks.accordion_htmlx.name",
    "tag": null,
    "settings": [
      {
        "type": "checkbox",
        "id": "open",
        "label": "Open",
        "default": false
      },
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.main-product-tabs.blocks.accordion_htmlx.settings.title.label",
        "default": "Custom HTML"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "t:sections.main-product-tabs.blocks.accordion_htmlx.settings.content.label",
        "default": "<p>Add content here</p>"
      },
      {
        "type": "page",
        "id": "page",
        "label": "t:sections.main-product-tabs.blocks.accordion_htmlx.settings.page.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.main-product-tabs.blocks.accordion_htmlx.name"
      }
    ]
  }
{% endschema %}
