<section class="relative py-32 bg-surface-container-lowest border-outline-variant/10 overflow-hidden">
  {%- if section.settings.background_image != blank -%}
    <div class="absolute inset-0 z-0">
      <img
        class="w-full h-full object-cover"
        src="{{ section.settings.background_image | image_url: width: 2000 }}"
        alt="{{ section.settings.background_image.alt | escape }}"
        width="{{ section.settings.background_image.width }}"
        height="{{ section.settings.background_image.height }}"
      >
      <div class="absolute inset-0 bg-black/{{ section.settings.overlay_opacity }}"></div>
    </div>
  {%- endif -%}

  <div class="container mx-auto px-8 text-center max-w-4xl relative z-10">
    <div class="font-headline text-secondary text-sm tracking-[0.3em] uppercase mb-12">
      {{ section.settings.sub_caption }}
    </div>
    <h2 class="font-headline text-3xl md:text-5xl font-light uppercase tracking-wide leading-tight mb-8">
      {{ section.settings.heading_highlight }}
    </h2>
    <div class="w-24 h-[1px] kinetic-gradient mx-auto mb-12"></div>
    <h2 class="font-headline text-3xl md:text-5xl font-bold uppercase tracking-tight text-glow-primary">
      {{ section.settings.main_heading }}
    </h2>
  </div>
</section>

{% schema %}
{
  "name": "Cyber Problem",
  "settings": [
    {
      "type": "text",
      "id": "sub_caption",
      "label": "Sub Caption",
      "default": "want something new?"
    },
    {
      "type": "textarea",
      "id": "heading_highlight",
      "label": "Heading Highlight",
      "default": "Tired of seraching videos<div>all night?</div>"
    },
    {
      "type": "textarea",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "Looking for something more immersive and personal?"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay Opacity",
      "min": 0,
      "max": 90,
      "step": 10,
      "default": 60,
      "unit": "%"
    }
  ],
  "presets": [
    {
      "name": "Cyber Problem"
    }
  ]
}
{% endschema %}
